{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    <div class="col-lg-4 offset-lg-2">
        {% if current_user.picture_path %}
            <img src="{{ url_for('static', filename=current_user.picture_path) }}" alt="figure">
        {% endif %}
    </div>
    <div class="col-lg-4 offset-lg-2">
        <p>User name: {{ current_user.user_name }}</p>
        <p>User name: {{ current_user.email }}</p>
    </div>
    {% else %}
        <p>You have to Login or Register</p>
    {% endif %}
{% endblock %}