{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Message Form{% endblock %}
{% block content %}
<h1>Send message</h1>
<div class="row">
    <div class="col-lg-8 offset-lg-4">
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
    </div>
    {% for message in messages %}
        {% if message.from_user_id == current_user.id %}
        <div id="read-tag-{{ message.id }}" class="col-lg-1 offset-lg-6 col-md-1 offset-md-2 col-sm-2 offset-sm-1 col-2">
            {% if message.is_read %}
                <p>Read</p>
            {% endif %}
        </div>
        <div class="speech-bubble-self col-lg-4 col-md-8 col-sm-7 col-8">
            {% for splitted_message in message.message|replace_newline %}
                <p>{{ splitted_message|urlize }}</p>
            {% endfor %}
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            {% if current_user.picture_path %}
                <img class="user-img-mini" src="{{ url_for('static', filename=current_user.picture_path) }}" alt="icon">
            {% endif %}
            <p>{{ current_user.username }}</p>
        </div>
        {% else %}
        <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            {% if user.picture_path %}
                <img class="user-img-mini" src="{{ url_for('static', filename=user.picture_path) }}" alt="icon">
            {% endif %}
            <p>{{ user.username }}</p>
        </div>
        <div class="speech-bubble-dest col-lg-4 col-md-8 col-sm-8 col-9">
            {% for splitted_message in message.message|replace_newline %}
                <p>{{ splitted_message|urlize }}</p>
            {% endfor %}
        </div>
        <div class="col-lg-7 col-md-3 col-sm-1 col-1"></div>
        {% endif %}
    {% endfor %}
    <div id="message-form" class="col-lg-4 offset-lg-7 col-md-8 offset-md-4 col-sm-12 col-12">
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.to_user_id(value=to_user_id) }}
            {{ render_field(form.message, cols="50", rows="5") }}
            {{ form.submit() }}
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(function () {
        timer = setInterval("get_new_messages()", 5000);
        var scroll = (document.scrollingElement || document.body)
        scroll.scrollTop = scroll.scrollHeight
    });
    user_id = "{{ to_user_id }}";
    function get_new_messages(){
        $.getJSON("/message_ajax", {
            user_id: user_id
        }, function(data){
            $('#message-form').before(data['data']);
            var is_read_ids = data['is_read_ids'];
            is_read_ids.forEach(function(is_read_id){
                const selector = '#read-tag-' + is_read_id;
                if (document.querySelector(selector + '> p') == null){
                    $(selector).append('<p>Read</p>')
                }
            })
        });
    };
</script>
{% endblock %}
