{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Update information{% endblock %}
{% block content %}
<h1>Update information</h1>
<div class="row">
    <div class="col-lg-8 offset-lg-4">
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
    </div>
    <div class="col-lg-2 offset-lg-2">
        {% if current_user.picture_path %}
        <img class="user-img-big" src="{{ url_for('static', filename=current_user.picture_path) }}" alt="figure">
        {% endif %}
    </div>
    <div class="col-lg-4 offset-lg-2">
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ render_field(form.username, value=current_user.username) }}
            {{ render_field(form.email, value=current_user.email) }}
            {{ render_field(form.picture_path) }}
            {{ form.submit() }}
        </form>
        <a href="{{url_for('app.change_password')}}">Change password</a>
    </div>
</div>
{% endblock %}
